/* Settings */
:root {
    font-size: 18px;
    --color-accent: #4262ff;
    --darker: #3d318d;
    --active: #3f2d76;
    --inactive: #9b99af;
    --radius: 1.8em;
    --color-text: #050038;
    --container-width: 1120px;
    color: var(--color-text);
    line-height: 133%;
}

* {
    box-sizing: border-box;
    &::selection {
        background-color: var(--color-accent);
        color: white;
    }
}

main {
    box-sizing: content-box;
    padding-inline: 2.22em;
}

.main,
.header nav {
    max-width: var(--container-width);
    margin: 0 auto;
}

.primary {
    .primary__desc {
        color: #686587;
    }
}

.primary__heading {
    margin-bottom: 1.05rem;
}

.primary__desc {
    margin-bottom: 2.17rem;
}

/* Header */

.link {
    color: var(--color-accent);
    line-height: 130%;
    text-decoration: underline;
}

.header {
    display: block;
    height: 91px;
    box-sizing: content-box;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 3.3rem;
    padding-inline: 2.8rem;

    & .nav {
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        max-width: var(--container-width);
    }

    & .header__list {
        display: flex;
        list-style: none;
        gap: 1.9rem;
    }

    a {
        font-size: 0.89rem;
        line-height: 150%;
        text-decoration: none;
        color: inherit;
    }
}

.heading {
    font-size: 2.7rem;
    line-height: 117%;
    letter-spacing: 0.05em;
}

/* Hero section */

.hero {
    margin-bottom: 128px;
    .hero__heading {
        margin-bottom: 0.95rem;
    }
    .hero__subheading {
        color: inherit;
        margin-bottom: 3.1rem;
    }
}

.sign {
    margin-bottom: 0.45em;

    & input:focus {
        background-color: #dadada;
    }
}

#sign__email {
    border: 1px solid var(--inactive);
    border-radius: 1.9rem;
    height: 2.7rem;
    padding-inline: 1.6em;
}

#sign__submit {
    background-color: var(--color-accent);
    color: #ffffff;
    border-radius: var(--radius);
    line-height: 150%;
    height: 2.7rem;
    padding: 0.8em 1.6em;
}

.sign + p {
    font-size: 0.78rem;
    line-height: 143%;
}

.sign__label {
    margin-bottom: 2.9rem;
}

/* Together section */

.together {
    margin-bottom: 120px;
}

/* Goal section */

.goal {
    margin-bottom: 94px;
}

/* Types section */

.types {
    margin-bottom: 43px;

    & .types__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1rem;
        & li {
            &::before {
                content: url(../icons/check.svg);
            }
        }
    }

    & .types__heading {
        margin-bottom: 1.9rem;
    }
}

/* Footer */

.footer {
    background-color: var(--color-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2.2rem;
    gap: 1.1em;
    height: 117px;
    color: white;

    & .footer__list {
        display: flex;
        list-style: none;
        gap: 1.1em;

        & .footer__link {
            text-decoration: none;
            color: inherit;
        }
    }
}
